#about-main {
    margin-top: 30px;
}

.about-title {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
    padding: 20px 0;
    background-color: var(--category-bg-color);
    border-radius: 10px;
}

#about-face {
    width: 280px;
    transition: transform .2s ease;
}

#about-face {
    width: 280px;
    transition: transform .2s ease;
}

#about-face:hover {
    transform: scale(110%) rotate(10deg);
}

.about-text {
    background-color: var(--about-text-color);
    margin: 0px 30px;
    padding: 20px;
    border-radius: 20px;
}

#about-text-hl {
    position: relative;
    left: 0;
}

#about-button-back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 280px;
    font-size: 15px;
    gap: 10px;
    opacity: 1;
    padding: 10px 20px;
    margin: auto;
    border: none;

    background-color: var(--nav-bg-color) !important;
    box-shadow: var(--btn-shadow) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;

    transform: scale(1);
    transition: transform .3s, width .3s, letter-spacing .3s ease;
    cursor: pointer;
}

.about-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 30px;
}

.about-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    width: 50px;
    height: 50px;
    color: var(--text);
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    border: none;
    background-color: var(--nav-bg-color) !important;
    box-shadow: var(--btn-shadow) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 200px;
    transition: transform .15s ease;
}

.about-links a:hover {
    transform: scale(1.1);
}

#tareqitos-favico {
    transform: scale(.3);
}

#about-button-back p {
    margin-bottom: 0rem;
}

#button-back {
    font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--text) !important;
    text-decoration: none;
    opacity: 1;
}

#about-button-back:hover {
    transform: scale(1.05);
    letter-spacing: 1px;
}

.about-pre-footer {
    margin-bottom: 50px;
}


.about-pre-footer .btn-container {
    margin-top: 0;
}