/* ================================================= ITEMS STRUCTURE ================================================= */

.item-container-parent {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color .25s, transform .25s ease
}

.media {
  width: auto;
}

.item-container-parent:hover {
  background-position: 50%;
  transform: scale(1.1)
}

.item-container-parent p {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  z-index: 2;
  font-variant-caps: all-small-caps;
  transform: transform .25s, ease
}

.item-container-parent img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
  transition: transform .6s ease
}

.item-container-parent img:hover {
  transform: scale(1.6)
}

.item-desc {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
}

.section-media-items p {
  font-size: 1.1em;
}

.section-media-items p+p {
  position: relative;
  font-size: 1em;
}

.media a,
.item-container a {
  text-decoration: none
}

/* ================================================= ITEMS COLORS ================================================= */

.beginners {
  background: linear-gradient(90deg, rgb(223, 49, 49) 0%, rgb(238, 97, 59) 150%);
}

.dictionaries {
  background: linear-gradient(90deg, #39a464 0, #68e78e 200%);
}

.grammar {
  background-color: #fd1d1d;
  background: linear-gradient(90deg, #ee6c4d 0, #fcb045 200%);
}

.kanji {
  background: #4266ff;
  background: linear-gradient(90deg, #4266ff 0, #4dceee 200%);
}

.misc {
  background: #ce42ff;
  background: linear-gradient(90deg, #a327ce 0, #c865ca 200%);
}
.reading {
  background: #bea306;
  background: linear-gradient(90deg, #d68844 0, #F2C94C 200%);
}

#so1 {
  background: linear-gradient(90deg, #2c7873 0, #00ffdda6 200%);
}

#so2 {
  background: linear-gradient(90deg, #527596 0, #3992cf 200%);
}

#so3 {
  background: linear-gradient(90deg, rgb(0, 132, 221) 0%, rgb(126, 193, 237) 200%);
}

#so4 {
  background: linear-gradient(90deg, rgb(45, 115, 36) 0%, rgb(100, 150, 40) 200%);
}

#so5 {
  background: linear-gradient(90deg, rgb(138, 138, 138) 0%, rgb(175, 175, 175) 200%);
}

#so6 {
  background: linear-gradient(90deg, #4257b2 0%, #3ccfcf 200%);
}

#so7 {
  background: linear-gradient(90deg, #082630 0%, #3c425d 200%);
}

#so8 {
  background: linear-gradient(90deg, #61477e 0%, #95c7c5 150%);
}
#so9 {
  background: linear-gradient(90deg, #bf0000 0%, #ff7b7b 150%);
}
#s10 {
  background: linear-gradient(90deg, #64b5f6 0%, #bbdefb 150%);
}

/* ================================================= MEDIA ICONS  ================================================= */

.desc-favicon {
  height: 15px;
  border-radius: 10px;
  position: relative;
  top: 5px;
  align-self: flex-start;
}

.selection-message {
  text-align: center;
  line-height: .6;
  font-size: 1.5em;
  margin-top: 30px;
  color: rgba(148, 152, 185, 0.5);
}

/* ================================================= THANKS ICONS ================================================= */

.fa-star {
  animation: rotate 5s linear infinite;
}

.star-user {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 10px;
}

.star-user-media {
  color: var(--text);
  margin-left: 8px;
}

@keyframes rotate {
  to {
    transform: rotate(359deg);
  }
}

/* ================================================= SOFTWARE ICONS ================================================= */

.software .item-title {
  position: relative;
  text-align: center;
  width: 50%;
  margin: auto
}

.software-icon i {
  position: relative;
  bottom: 0;
  padding-right: 10px;
  text-align: center;
}

/* ================================================= SUGGESTION FORM ================================================= */

form {
  display: flex;
  flex-direction: column;
  margin: auto auto 100px auto;
  width: 500px;
  background-color: var(--header-footer);
  box-shadow: var(--btn-shadow);
  padding: 40px 20px 40px 20px;
  border-radius: 20px;
  gap: 20px;
}

.input,
#category {
  border-radius: 10px;
  height: 50px;
  border: var(--input-border);
  outline: 0;
  padding-left: 20px;
  background-color: var(--input-bg-color);
  color: var(--text)
}

.sort {
  text-align: center;
  margin-bottom: 20px;
}

.sort-media:hover {
  cursor: pointer;
}

.sort-media {
  text-align: center;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  margin-left: 10px;
  border: var(--input-border);
  outline: 0;
  background-color: var(--input-bg-color);
  color: var(--text);
}

.sort select {
  appearance: none;
}

.sort-media,
#category {
  color: var(--input-category-color);
}

#category {
  width: 200px;
}

#submit {
  width: 200px;
}

#submit {
  margin: auto;
  border-radius: 20px;
  text-align: center;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.3em;
  color: white;
  outline: 0;
  border: 0;
  background: linear-gradient(90deg, #ee6c4d 0, #fcb045 100%);
  transform: scale(1);
  transition: transform .3s ease;
}

#submit:hover {
  transform: scale(1.1);
}