@font-face {
  font-family: 'Pomeranian';
  src: url('../resources/PomeranianRegular.ttf') format('truetype');
}

section {
  margin-bottom: 20px;
}

.section-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--category-bg-color);
  border-radius: 10px;
}

.bullet {

  background-image: linear-gradient(to right, #f16f5c 0%, #e01511 34%, #f7767d 66%, #e73827 100%);
  box-shadow: 0 4px 15px 0 rgba(238, 73, 73, 0.4);
  width: 10px;
  height: 30px;
  border-radius: 3px;

}

.item-desc {
  font-size: 1em;
}

.item-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.item-container-parent {
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  width: 250px;
  padding: 5px 20px;
  border-radius: 5px;

  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;

}

.item-container-parent,
.submit {
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.item-container-parent:hover,
.submit:hover {
  background-position: 100% 0;
  letter-spacing: 1.5px;
  transform: scale(1.1);
}

.item-container-parent:focus {
  outline: none;
}

.fa-windows,
.fa-apple,
.fa-android {
  padding-left: 6px;
}

.fa-windows {
  color: #73abf0;
  text-shadow: 0 0px 10px rgba(10, 105, 229, .4);
}

.fa-apple {
  color: #e9cb93;
  text-shadow: 0 0px 10px rgba(229, 127, 10, 0.4);
}

.fa-android {
  color: #73f088;
  text-shadow: 0 0px 10px rgba(54, 229, 10, 0.4);
}

/* SUGGESTION FORM */

.sugg-mail {
  font-size: 1em;
  text-decoration: underline;
  transition: all .1s ease-in-out;
}

.sugg-mail:hover {
  font-size: 1.1em;
  font-weight: 500;
  transition: all .1s ease-in-out;
}

.error-text a {
  color: #f59f3c;
  text-decoration: none;
  text-transform: none;
}

.suggestion-form {
  display: flex;
  flex-wrap: wrap;
}

.suggestion-text,
.suggestion-form {
  transition: all .2s;
}

.suggestion-form,
.thanks-text,
.error-text {
  display: none;
  opacity: 0;
}

.input,
.submit {
  border-radius: 5px;
  height: 36px;
  border: var(--input-border);
}

.input {
  padding-left: 20px;
  outline: 0;
  background-color: var(--input-bg-color);
  color: var(--text);
}

button.submit {
  color: white;
  padding: 0 20px;
  background-size: 500% 100%;
  pointer-events: none;
  border: none;
}

/* =================================================================================================== COLORS =================================================================================================== */

/* ================================================== BEGINNERS ================================================= */

.item-container-parent.beginners {
  background-image: linear-gradient(to right, #f16f5c 0%, #e01511 34%, #f7767d 66%, #e73827 100%);
  box-shadow: 0 4px 15px 0 rgba(238, 73, 73, 0.4);
}

.beginners.suggestion,
.beginners button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #f7767d 66%, #e73827 100%);
}

.beginners.suggestion:hover,
.beginners button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(238, 73, 73, 0.4);

}

/* ================================================== DICTIONARY ================================================= */

.item-container-parent.dictionaries {
  background-image: linear-gradient(to right, #40ec74, #39a464, #8df7ad, #2ae073);
  box-shadow: 0 4px 15px 0 rgba(54, 229, 10, 0.4);
}

.dictionaries.suggestion,
.dictionaries button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #8df7ad, #2ae073);
}

.dictionaries.suggestion:hover,
.dictionaries button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(54, 229, 10, 0.4);
}

/* ================================================== GRAMMAR ================================================= */

.item-container-parent.grammar {
  background-image: linear-gradient(to right, #f59f3c, #e43603, #faba71, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.4);
}

.grammar.suggestion,
.grammar button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #faba71, #e85a19);
}

.grammar.suggestion:hover,
.grammar button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.4);
}

/* ================================================== KANJI ================================================= */

.item-container-parent.kanji {
  background-image: linear-gradient(to right, #20d2fa 0%, #4297ff 37%, #4dceee 68%, #4266ff 100%);
  box-shadow: 0 4px 15px 0 rgba(10, 105, 229, 0.425);
}

.kanji.suggestion,
.kanji button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #4dceee 68%, #4266ff 100%);
}

.kanji.suggestion:hover,
.kanji button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(10, 105, 229, 0.425);
}

.media-suggestion,
.media-submit
 {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #656768 68%, #49494d 100%);
}

/* ================================================== READING ================================================= */

.item-container-parent.reading {
  background-image: linear-gradient(to right, #d68844 0%, #F2C94C 36%, #d89255 65%, #ce8320 100%);
  box-shadow: 0 4px 15px 0 rgba(229, 171, 10, 0.425);
}

.reading.suggestion,
.reading button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #d89255 65%, #ce8320 100%);
}

.reading.suggestion:hover,
.reading button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(229, 178, 10, 0.425);
}

/* ================================================== MISC ================================================= */

.item-container-parent.misc {
  background-image: linear-gradient(to right, #a327ce 0, #c865ca 36%, #d871b9 65%, #ad44af 100%);
  box-shadow: 0 4px 15px 0 rgba(203, 10, 229, 0.425);
}

.misc.suggestion,
.misc button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #d871b9 65%, #ad44af 100%);
}

.misc.suggestion:hover,
.misc button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(203, 10, 229, 0.425);
}

/* ================================================== SOFTWARE ================================================= */

.item-container-parent.software {
  background-image: linear-gradient(to right, #2c7873 0, #00ffdda6 36%, #419dad 65%, #00ffdda6 100%);
  box-shadow: 0 4px 15px 0 rgba(44, 120, 115, 0.425);
}

.software.suggestion,
.software button.submit {
  background-image: linear-gradient(to right, rgb(190, 190, 190) 0%, rgb(178, 178, 191) 35%, #419dad 65%, #00ffdda6 100%);
}

.software.suggestion:hover,
.software button.submit:hover {
  box-shadow: 0 4px 15px 0 rgba(44, 120, 115, 0.625);
}

/* ================================================== SUGGESTION ================================================= */

.item-container-parent.suggestion {
  box-shadow: 0 4px 15px 0 rgba(56, 56, 56, 0.4);
}

/* ================================================== MEDIA ================================================ */

.section-media-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  transition: all .3s;
}

.media-container {
  display: flex;
  flex-direction: column;
  transform: scale(1);
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 150px;
  /*
  background-color: rgb(227, 231, 235) ;
  border-radius: 12px;
  height: 150px; */
}


.media-item-title {
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 12px;
  height: 100px;
  position: relative;
  top: 10px;
  z-index: -1;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.media-container a:hover+.media-item-title {
  letter-spacing: 1.5px;
}

.media-container:hover .fa-instagram::before,
.media-container:hover .fa-spotify::before,
.media-container:hover .fa-youtube::before {
  visibility: visible;
  padding-right: 5px;
  opacity: 1;
  left: 0;
  font-size: 1em;
}

.fa-instagram::before,
.fa-spotify::before,
.fa-youtube::before {
  color: #ff0000;
  text-shadow: 0 0px 10px rgba(229, 10, 10, 0.4);
  position: relative;

  left: 15px;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.fa-spotify::before {
  color: #23d867;
  text-shadow: 0 0px 10px rgba(10, 229, 83, 0.4);
}

.fa-instagram::before {
  background: linear-gradient(to right, #f9ce34 0, #ee2a7b 50%, #6228d7 100%);
  text-shadow: 0 0px 10px rgba(229, 10, 10, 0.8);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
  transition: all .25s ease;
  width: 140px;
  height: 140px;
}

.media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.media img:hover {
  transform: scale(1.05);
}

.media-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-size: .8em;
}

.media a,
.item-container a {
  text-decoration: none
}

.sort-media:hover {
  cursor: pointer;
}

.media-item-desc {
  display: none;
}

.description-box {
  width: auto;
  height: auto;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1;
  visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  transition: none;
}

.media-legend {
  padding: 15px;
  background-color: var(--category-bg-color);
  border-radius: 10px;
  margin-top: 5px;
}

.media-category span,
.media-category p {
  display: inline-block;

}

.media-category p {
  margin-right: 10px;
}

.media-category span {
  vertical-align: middle;
  width: 25px;
  height: 6px;
  border-radius: 5px;
  margin-right: 5px;
}

.type-culture {
  background-color: green;
}

.type-convo {
  background-color: #4297ff;
}

.type-fun {
  background-color: #d871b9;
}

.type-grammar {
  background-color: #fb7641;
}

.pod-button {
  padding: 15px;
}

/* ================================================== AUDIO PLAYER ================================================ */

.audio-player {
  display: none;
  position: fixed;
  align-self: center;
  bottom: 30px;
  margin: 0 auto;
  width: 40%;
  opacity: 0;
  transition: all .5s;
}

.fa-xmark {
  display: block !important;
  position: relative;
  top: 20px;
  width: 80px;

  text-align: center;
  margin: auto;
  scale: .8;
}

/* ================================================== SIDEBAR ================================================ */

.body-wrap {
  display: flex;
  justify-content: center;
  margin: 0 5%;
  margin-top: 50px;
  gap: 20px;
}

.main-sidebar {
  margin-bottom: 80px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 25px;
  background-color: var(--category-bg-color);
  padding: 25px;
  border-radius: 10px;
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  margin: 2px 0;
}

li a {
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text);
  text-decoration: none;
}

.sidebar-link-before {
  /*font-family:'Pomeranian';*/
  font-size: 12px;
  font-weight: 800;
 
  border-radius: 3px;
  font-size: 10px;
  padding: 3%;
  margin-right: 10px;
}

.separator {
  border-bottom: solid 1px gray;
  margin: 10px 0;
  opacity: .3;
}

.nav-med-list {
  margin-left: 35px;
  border-left: solid 1px var(--sub-category-line);
  padding-left: 15px;
}

.nav-sticky {
  margin-top: 15px;
}

.sidebar-info-element {
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 5px 0;
}

.sidebar-info-element a {
  transition: letter-spacing .2s ease;
}

.sidebar-info-element a:hover {
  letter-spacing: 2px;
}