/* ================================================= 1280 ================================================= */

@media screen and (max-width:1280px) {}

/* ================================================= 1024 ================================================= */

@media screen and (max-width:1024px) {}


/* ================================================= 900 ================================================= */
@media screen and (max-width:900px) {
  .item-container-parent {
    width: auto;
    text-align: left;
  }

  .item-container {
    align-items: flex-start; 
    gap: 0; 
    flex-direction: column; 
  }

  .suggestion-button {
    margin-bottom: 5px;
  }

}

/* ================================================= 815 ================================================= */
@media screen and (max-width:815px) {

  .section-media-items.podcast .media-container {
    display: block;
    width: 100%;
    height: 220px;
  }

  .collapse-button {
    font-size: 1.3em;
  }

  .collapse-button::after {
    top: 9px;
  }

  header a+h1+p {
    display: none
  }

  .circle {
    height: 40px;
    width: 40px
  }

  .title-acronym {
    font-size: 1em;
    padding-bottom: 10px;
    margin-bottom: 5px
  }
}

/* ================================================= 750 ================================================= */

@media screen and (max-width:750px) {

  .media-container a+p,
  .media-container iframe+p {
    font-size: .8em;
    height: 60px;
  }

  .media {
    height: 100px;
  }

  .footer {
    gap: 180px;
  }

  .nav-sticky {
    position: fixed;
    width: 139px;
    top:auto;
    right: -55px;
    bottom: 25vh;
  }

  .expand-collapse {
    flex-direction: column;
  }

  .button {
    text-align: left;
  }

  .btn-container {
    transform: scale(.8);
  }

  .about {
    padding: 0 20px;
  }

  .about-title {
    width: 100%;
  }

  #about-face {
    transform: scale(.8);
  }

  #about-face:hover {
    transform: scale(.95) rotate(10deg);

  }

  .expand-collapse {
    transform: scale(.55);
  }

  .anki-buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* ================================================= 602 ================================================= */

@media screen and (max-width: 602px) {


  .desc-favicon {
    display: none;
  }

  .item-container-parent p {
    font-size: .9em;
    word-break: break-word;
  }

  .item-desc {
    font-size: .9em;
  }

  .desc-favicon {
    height: 15px;
  }

}

/* ================================================= 428 ================================================= */

@media screen and (max-width:428px) {

  .media-container a+p {
    font-size: .8em;
    height: 50px;
  }

  .error-box img,
  .thankyou-box img {
    width: 200px;
  }

  #about-face {
    transform: scale(.7);
  }

  #about-face:hover {
    transform: scale(.85) rotate(10deg);

  }
}