/* ================================================= 1200 ================================================= */

@media screen and (max-width:1200px) {

  .section-misc-items,
  .section-grammar-items,
  .section-dictionaries-items,
  .section-kanji-items {
    grid-template-columns: repeat(3, 250px)
  }

  .section-media-items {
    grid-template-columns: repeat(4, 200px)
  }

  .media {
    height: 200px
  }

  .section-software-items .item-container {
    flex-direction: column;
    gap: 0
  }
}

/* ================================================= 1000 ================================================= */

@media screen and (max-width:1000px) {

  .section-misc-items,
  .section-grammar-items,
  .section-dictionaries-items,
  .section-kanji-items {
    grid-template-columns: repeat(3, 200px)
  }

  .section-media-items {
    grid-template-columns: repeat(4, 150px)
  }

  .media {
    height: 150px;
  }

  form {
    width: 400px;
  }
}

/* ================================================= 750 ================================================= */

@media screen and (max-width:750px) {

  nav a h2 {
    font-size: 1.3em
  }

  .section-misc-items,
  .section-dictionaries-items,
  .section-grammar-items,
  .section-kanji-items {
    grid-template-columns: repeat(2, 200px)
  }

  .section-media-items {
    grid-template-columns: repeat(3, 150px)
  }

  .media {
    height: 150px
  }

  .item-container-parent img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2)
  }

  .item-container-parent:hover {
    transform: scale(1)
  }

  .item-container-parent:active {
    transform: scale(.9)
  }

  .section-media-items .item-container-parent img:hover {
    transform: scale(1.3)
  }

  .item-container-parent p {
    font-size: 1.3em
  }

  .section-software-items .item-container-parent {
    width: 350px
  }

  .section-software-items .item-title::after {
    opacity: 1;
    left: -80px
  }

  .item-container a:hover #title-mi1::after,
  .item-container a:hover #title-mi2::after,
  .item-container a:hover #title-mi3::after {
    opacity: 1;
    left: -80px
  }

  header a+h1+p {
    display: none
  }

  .circle {
    height: 40px;
    width: 40px
  }

  .title-acronym {
    font-size: 1em;
    padding-bottom: 10px;
    margin-bottom: 5px
  }

  .button {
    top: 23px;
    right: 15px;
    transform: scale(.8);
  }

  .button:hover {
    transform: scale(.9);
  }
}

/* ================================================= 580 ================================================= */

@media screen and (max-width:580px) {

  .section-misc-items,
  .section-dictionaries-items,
  .section-grammar-items,
  .section-kanji-items {
    grid-template-columns: repeat(2, 180px)
  }

  .section-media-items {
    grid-template-columns: repeat(2, 150px)
  }

  .item-container-parent img {
    transform: scale(1.1);
  }

  .item-container-parent p {
    font-size: 1.08em
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav a{
    padding: 5px;
  }

  nav a h2 {
    font-size: 1.1em
  }

  form {
    width: 350px;
  }
}

/* ================================================= 400 ================================================= */

@media screen and (max-width:400px) {

  .section-misc-items,
  .section-grammar-items,
  .section-dictionaries-items,
  .section-kanji-items {
    grid-template-columns: repeat(1, 250px)
  }

  .section-media-items {
    grid-template-columns: repeat(1, 250px);
  }

  .section-software-items {
    padding: 0;
  }

  .section-software-items .item-container-parent {
    width: 300px
  }

  .section-software-items .item-title::after {
    opacity: 1;
    left: -70px
  }

  .item-container-parent p {
    font-size: 1.3em
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }

  nav a h2 {
    font-size: .9em
  }

  .button {
    top: 10px;
    right: 13px;
    transform: scale(.6);
  }

  .button:hover {
    transform: scale(.7);
  }

  form {
    width: 250px;
  }
}