/* ================================================= COLLAPSE ================================================= */

.collapse-button {
    display: block;
    text-align: left;
    font-size: 2em;
    margin: auto auto 10px auto;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: var(--text);
}

.collapse-button::after {
    content: '';
    background-image: url("../images/down-arrow.png");
    background-size: 18px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 20px;
    left: 5px;
    float: right;
    filter: var(--mail-color)
}

.collapse-button--active::after {
    content: '';
    background-image: url("../images/right-arrow.png");
}

.collapse-content {
    overflow-y: visible;
    margin-top: 40px;
    opacity: 1;
    transition: max-height 0.2s, opacity 0.2s, margin-top 0.2s;
}

.collapse-contributors {
    padding: 0 0 150px 0;
}

/* ================================================= SECTIONS ================================================= */

section {
    padding: 0px 40px;
}

section h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px
}

#beginners {
    margin-top: -45px;
}

/*.section-misc-items,
.section-grammar-items,
.section-dictionaries-items,
.section-beginners-items,
.section-kanji-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 10px 0;
}*/


/*section list form*/
.section-misc-items,
.section-grammar-items,
.section-dictionaries-items,
.section-beginners-items,
.section-kanji-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1000px);
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 20px 0;
    background-color: var(--category-bg-color);
    border-radius: 10px;
}

.section-misc-items .item-container,
.section-grammar-items .item-container,
.section-dictionaries-items .item-container,
.section-beginners-items .item-container,
.section-kanji-items .item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

.section-media-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: auto;
    gap: 40px;
    padding: 20px 0;
}

.media {
    height: 200px
  }

.media-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    text-align: center;
    font-size: .8em;
}

.section-software-items {
    display: grid;
    justify-content: center;
    padding: 0 150px 20px 150px;
    gap: 30px
}

.section-software-items .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}

.section-software-items .item-container-parent {
    width: 500px
}

.section-thanks {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 20px;   
}

