* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================================= HTML ================================================= */

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  --bg: #ffffff !important;
  --text: #212529 !important;
  --header-footer: #ffffff !important;
  --btn-shadow: rgba(33, 37, 41, 0.3) 0px 2px 8px !important;
  --mail-color: invert(0) !important;
  --input-bg-color: #ffffff !important;
  --input-border: 1.5px solid #979797 !important;
  --input-category-color: #9fa0a9;
  --category-bg-color: rgba(98, 140, 193, 0.11);
}

html.nightMode {
  --bg: #212529 !important;
  --text: #ffffff !important;
  --header-footer: #17191c !important;
  --btn-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px !important;
  --mail-color: invert(1) !important;
  --input-bg-color: #303245 !important;
  --input-border: 0 !important;
  --input-category-color: #979797;
  --category-bg-color: rgba(0, 0, 0, 0.1);
}

body {
  color: var(--text) !important;
  background-color: var(--bg) !important;
  transition: 0.1s;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
}

.anchor {
  padding-top: 35px;
  margin-top: -35px;
}

#top {
  position: absolute;
  top: 0;
}
/* ================================================= HEADER ================================================= */

header {
  top: 0;
  z-index: 5;
  text-align: center;
  padding: 20px 20px 5px 20px;
  margin-bottom: 10px;
  background-color: var(--header-footer);
  box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, .15);
}

.button {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
  font-weight: 100;
  font-size: 25px;
  color: var(--text) !important;
  background-color: var(--bg) !important;
  padding: 10px 16px;
  border: none;
  box-shadow: var(--btn-shadow) !important;
  border-radius: 100px;
  transform: scale(1);
  transition: transform .2s ease;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase;
}

.button:hover,
.open-btn:hover {
  transform: scale(1.1);
}

.circle {
  display: inline-block;
  margin-bottom: 3px;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #c93d1a;
}

.title-acronym {
  font-size: 1.3em;
  margin-bottom: 5px
}

.last-updated {
  text-align: center;
  right: 0;
  padding: 10px 40px;
}

#lu-star{
  position: relative;
  bottom: 30px;
}

/* ================================================= NAV ================================================= */

nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 4;
  top: 0;
  justify-content: center;
  background-color: var(--header-footer);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
}

.nav-mobile {
  font-size: 1.3em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 20px;
  position: static;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: none;
  box-shadow: none;
}

nav a{
  text-decoration: none;
  padding: 10px;
  color: var(--text);
}

nav a:hover {
  color: #c93d1a
}

.nav-sticky {
  position: sticky;
  top: 15px;
  z-index: 4;
}

.open-btn {
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  color: var(--text) !important;
  background-color: var(--header-footer) !important;
  padding: 10px 16px;
  border: none;
  box-shadow: var(--btn-shadow) !important;
  border-radius: 100px;
  transition: transform .2s ease;
  font-weight: 100;
  font-size: 25px;
  width: 80px;
  margin: auto;
}

.sidebar {
  position: absolute; 
  left: 0; 
  right: 0; 
  top: -400px;
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;
  padding: 20px 0;
  z-index: 4;
  overflow-y: hidden;
  opacity: 0;
  text-align: center;
  border-radius: 10px;
  background-color: var(--header-footer);
  transition: top .3s, opacity .2s;
}

.sidebar a {
  text-align: center;
  text-decoration: none;
  padding: 0px;
  color: var(--text);
}

/* ================================================= GO TO TOP BUTTON ================================================= */

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-weight: 100;
    font-size: 15px;
    color: var(--text) !important;
    background-color: var(--bg) !important;
    padding: 10px 16px;
    border: none;
    box-shadow: var(--btn-shadow) !important;
    border-radius: 100px;
    opacity: 0;
    transform: scale(1);
    transition: transform .3s, opacity .2s ease;
    cursor: pointer;
  }

#back-to-top:hover {
    transform: scale(1.1);
}
/* ================================================= FOOTER ================================================= */

#footer {
  position:absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding: 20px 40px;
  box-shadow: 1px -3px 12px -1px rgba(0, 0, 0, .15);
  background-color: var(--header-footer);
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
  position: absolute;
}

.footer-links i {
  color: var(--text);
  transform: scale(1.3);
  transition: transform .25s ease;
}

.footer-links i:hover{
  transform: scale(1.5)
}

.top {
  color: var(--text);
  transform: scale(1.3);
  transition: transform .25s ease;
  order: 2;
}

.top:hover {
  transform: scale(1.5);
}