* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pomeranian';
  src: url('../resources/PomeranianRegular.ttf') format('truetype');
}


/* ================================================= HTML ================================================= */
:root {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  --bg: #ffffff;
  --text: #212529;
  --header-footer: #ffffff;
  --btn-shadow: rgba(33, 37, 41, 0.3) 0px 2px 8px;
  --mail-color: invert(0);
  --input-bg-color: #ffffff;
  --input-border: 1.5px solid #979797;
  --input-category-color: #9fa0a9;
  --category-bg-color: rgb(238, 242, 248);
  --nav-bg-color: rgba(255, 255, 255, .8);
  --about-text-color: #dee7f4;
  --suggestion-bg-opacity: .3;
  --suggestion-bg-color: #b8b8b8;
  --border: rgba(0, 0, 0, 0.1);
  --fa-apple: rgba(0, 0, 0, .4);
  --sub-category-line: rgba(0, 0, 0, 0.4);
}

body {
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
}

.night-mode {
  --bg: #212529;
  --text: #ffffff;
  --header-footer: #17191c;
  --btn-shadow: rgba(0, 0, 0, .6) 0px 5px 8px;
  --mail-color: invert(1);
  --input-bg-color: #303245;
  --input-border: 0;
  --input-category-color: #979797;
  --category-bg-color: rgb(25, 27, 30);
  --nav-bg-color: rgba(23, 25, 28, .8);
  --about-text-color: #1c1e22;
  --suggestion-bg-opacity: .7;
  --suggestion-bg-color: #9e9e9e;
  --border: rgba(255, 255, 255, 0.1);
  --fa-apple: rgba(255, 255, 255, .4);
  --sub-category-line: rgba(255, 255, 255, .4);
}

.anchor {
  padding-top: 20px;
  margin-top: -20px;
  -webkit-transition: padding-top .2s ease;
  transition: padding-top .2s ease;
}

.anchorage {
  position: relative;
  bottom: 25px;
}

#top {
  position: absolute;
  top: 0;
}

main {
  margin-bottom: 30px;
}


/* ================================================= BACKGROUND ================================================= */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.character {
  position: absolute;
  color: transparent;
  font-size: 2rem;
  opacity: 0;
  animation: fadeZoom 10s infinite;
}

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
    text-shadow: 0 0 8px var(--text);
  }

  50% {
    opacity: .3;
    color: var(--text);
    text-shadow: none;
  }

  100% {
    opacity: 0;
    transform: scale(var(--scale-end)) translate(var(--translate-x-end), var(--translate-y-end));
    color: transparent;
    text-shadow: 0 0 8px var(--text);
  }
}

/* ================================================= HEADER ================================================= */

header {
  top: 0;
  z-index: 5;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  background-color: var(--header-footer);
  box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, .15);
}

/*
.button {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
  font-weight: 100;
  font-size: 25px;
  color: var(--text);
  background-color: var(--bg);
  padding: 10px 16px;
  border: none;
  box-shadow: var(--btn-shadow);
  border-radius: 100px;
  transform: scale(1);
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase;
} */

.button:hover,
.open-btn:hover {
  transform: scale(1.1);
}

.circle {
  display: inline-block;
  margin-bottom: 3px;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #c93d1a;
}

.title-acronym {
  font-size: 1.3em;
  margin-bottom: 5px
}

#lu-star {
  position: relative;
  margin: 0;
}

/* ================================================= NAV ================================================= */

.nav-sticky {


  z-index: 4;

}

.open-btn {
  z-index: 10;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  color: var(--text);
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 16px;
  box-shadow: var(--btn-shadow);
  border-radius: 100px;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  font-weight: 100;
  font-size: 25px;
  width: 80px;
  margin: 0 auto auto auto;
}

.expand-collapse {
  display: flex;
  gap: 10px;
}



.expand-collapse {
  display: flex;
  gap: 10px;

}

.button {
  font-weight: 600;
  border: none;
}

.img-coll,
.img-roll {
  width: 45px;
}

.collapse-all:hover,
.roll-all:hover {
  transform: scale(1.1);
}


.sidebar {
  position: absolute;
  left: 0;
  right: 0;
  top: -400px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 20px 0;
  z-index: 4;
  overflow-y: hidden;
  opacity: 0;
  text-align: center;
  border-radius: 10px;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--btn-shadow);
  transition: top .3s ease-out, opacity .2s;
}

.sidebar a {
  text-align: center;
  text-decoration: none;
  padding: 0px;
  color: var(--text);
}

.sidebar h2 {
  font-size: 1.5em;
}

.sidebar a:hover {
  color: #c93d1a
}

.button,
.collapse-all,
.roll-all {
  z-index: 10;
  cursor: pointer;
  color: var(--text);
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 9px;
  box-shadow: var(--btn-shadow);
  border-radius: 100px;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  font-weight: 100;
  font-size: 12px;
  margin: 0;
}

/* ================================================= GO TO TOP BUTTON ================================================= */

#back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-weight: 100;
  font-size: 15px;
  color: var(--text);
  background-color: var(--nav-bg-color);
  padding: 10px 16px;
  border: none;
  box-shadow: var(--btn-shadow);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 100px;
  opacity: 0;
  transform: scale(1);
  transition: transform .3s, opacity .2s ease;
  cursor: pointer;
}

#back-to-top:hover {
  transform: scale(1.1);
}

/* ================================================= FOOTER ================================================= */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding: 20px 40px;
  box-shadow: 1px -3px 12px -1px rgba(0, 0, 0, .15);
  background-color: var(--header-footer);
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
  position: absolute;
}

.footer-links i {
  color: var(--text);
  transform: scale(1.3);
  transition: transform .25s ease;
}

.footer-links i:hover {
  transform: scale(1.5)
}

.top {
  color: var(--text);
  transform: scale(1.3);
  transition: transform .25s ease;
  order: 2;
}

.top:hover {
  transform: scale(1.5);
}

.last-updated {
  text-align: center;
  right: 0;
  padding-bottom: 10px;
  margin-top: 1vh;
}

#changelog {
  color: #e4461f
}

.btn-container {
  text-align: center;
  margin-top: 50px;
}

.pre-footer {
  display: none;
  margin-top: auto;
  gap: 20px;
  margin: auto auto 40px auto;
}

.pre-footer-element {
  font-size: 14px;
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  opacity: 1;
  border-radius: 10px;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--btn-shadow);
}

.pre-footer-link a {
  color: var(--text);
  text-decoration: none;
}

.pre-footer-link {
  transition: transform .2s;
}

/* ================================================= COLLAPSE ================================================= */

.collapse-button {
  font-family: 'Quicksand', 'Montserrat', Arial, Helvetica, sans-serif;
  display: block;
  text-align: left;
  font-size: 1.3em;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: var(--text);

  margin-top: 0px;
  background: var(--category-bg-color);
  padding: 6px 15px;
  border-radius: 10px;
}

.collapse-button::after {
  content: '';
  background-image: url("../images/down-arrow.png");
  background-size: 18px;
  width: 18px;
  height: 18px;
  position: relative;
  top: 8px;
  left: 5px;
  float: right;
  filter: var(--mail-color);
  transform: rotate(0);
  transition: transform .4s;
}

.collapse-video .collapse-button::after,
.collapse-podcast .collapse-button::after,
.collapse-social .collapse-button::after {
  background-size: 14px;
  width: 14px;
  height: 14px;
  top: 10px;
}

.collapse-button--active::after {
  transform: rotate(-90deg);
}

.collapse-content {
  overflow-y: visible;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: max-height 0.2s, opacity 0.2s, margin-top 0.2s;
}

.collapse-contributors {
  padding: 0 0 80px 0
}

.collapse-layout {
  max-width: 1200px;
  margin: 0 auto;
}

.collapse-video .collapse-button,
.collapse-podcast .collapse-button,
.collapse-social .collapse-button {
  font-size: 1.25em;
}

.collapse-media-content {
  border-left: 1px solid var(--sub-category-line);
  padding-left: 20px;
}

.collapse-beginners .collapse-button,
#nav-beg {
  border-bottom: solid 2px rgb(232, 59, 42);
}

#nav-dic,
.collapse-dictionaries .collapse-button {
  border-bottom: solid 2px #22ae5a
}

#nav-gra,
.collapse-grammar .collapse-button {
  border-bottom: solid 2px #e95e1c
}

#nav-voc,
.collapse-kanji .collapse-button {
  border-bottom: solid 2px #426bfe
}

#nav-med,
.collapse-media .collapse-media-button {
  border-bottom: solid 2px #e3e7eb
}

#nav-rea,
.collapse-reading .collapse-button {
  border-bottom: solid 2px #cf8424
}

#nav-mis,
.collapse-misc .collapse-button {
  border-bottom: solid 2px #b047b0
}

#nav-app,
.collapse-software .collapse-button {
  border-bottom: solid 2px #0dae9c
}


/* ================================================================= LOADING ANIMATION ================================================================= */

.lds-ellipsis {
  display: none;
  position: relative;
  bottom: 13px;
  width: 80px;
  z-index: 99999999;
}

.lds-ellipsis div {
  position: absolute;
  /*top: 33px;*/
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


p {
  margin-bottom: 0;
}